{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    {% block title %}
    {% endblock %}
  </head>
  <body style="background-image: url('{% static "img/bg.png" %}">
	<nav class="navbar navbar-expand-sm bg-primary  navbar-dark sticky-top">
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
    <a class="navbar-brand nav-margin-left" href="{% url "dashboard" %}">

        <h4>SinarPerak</h4>
    </a>
      <div class="navbar-collapse collapse" id="navigationbar">
        <ul class="navbar-nav ml-auto nav-margin-right">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" id="nav-user" href="{% url 'profile' %}">
            <!-- google oauth endcomment -->
            
            {% if user.first_name != "" %} 
              <h5 style='margin-top:4px' name="nama_user"><font color="white">Hello, {{ user.first_name }} {{ user.last_name }}</font></h5>
            {% else %}
              <h5 style='margin-top:4px' name="nama_user"><font color="white">Hello, {{ user.nama }}</font></h5>
            {% endif %}
            </a>
          </li>
          <li class="nav-item"><a class="nav-link" id="logout" href='{% url "logout" %}'>
            <button type="button" class="btn btn-danger">keluar</button>
          </a></li>
        
          {% else %}
          <li class="nav-item"></li>
              <a href="{% url 'login' %}" style="padding-top:6px">
                    <button type="button" class="btn btn-primary">Masuk</button>
              </a>
              <div class="col-md-1"></div>
              <a class="float-right" href="{% url 'social:begin' 'google-oauth2' %}" style="padding-top:6px">
                <button type="button" class="btn btn-warning">Login with google</button>
              </a>

          </li>
        </ul>
      </div>
    {% endif %}
  </nav>


    {% block content %}
    {% endblock %}

    <!-- Footer -->

<footer class="page-footer blue pt-1 bg-primary fixed-bottom text-center">
  <a href="{% url "aboutUs" %}" style="text-decoration: none; "><p><font color="white" style="font-size: 2.5vmin">Tentang SinarPerak</font></p></a>
</footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
