{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Beranda</title>
{% endblock %}

{% block content%}
	<div class="container-fluid">
		<div class="row top-margin">
			<div class=" col-xs-12 col-md-4">
				<a href="{% url "news1" %}"><img class="rounded center" src="{% static "img/image1.jpg" %}" width="300" height="200" alt="say">
				</a>
			</div>
			<div class=" col-xs-12 col-md-4">
				<a href="{% url "news2" %}"><img class="rounded center" src="{% static "img/image2.jpg" %}" width="300" height="200" alt="say"></a>
			</div>
			<div class=" col-xs-12 col-md-4">
				<a href="{% url "news3" %}"><img class="rounded center" src="{% static "img/image3.jpg" %}" width="300" height="200" alt="say"></a>
			</div>
		</div>
		<br>
		<br>
		<div class="row">
			<div class="col-xs-12 col-md-4">
				<a href="{% url "news4" %}"><img class="rounded center" src="{% static "img/image4.jpg" %}" width="300" height="200" alt="say">
				</a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="{% url "news5" %}"><img class="rounded center" src="{% static "img/image5.jpg" %}" width="300" height="200" alt="say"></a>
			</div>
			<div class="col-xs-12 col-md-4">
				<a href="{% url "news6" %}"><img class="rounded center" src="{% static "img/image6.jpg" %}" width="300" height="200" alt="say"></a>
			</div>
		</div>
	</div>
{% endblock %}
