{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class = "percent-margin rounded bg-warning percent-padding border border-primary">
            <h4 style="text-align: center">Menggalang Dana Peduli Anak Foundation</h4>
            <a href=""><img class="rounded center" src="{% static "img/image3.jpg" %}" width="300" height="200" alt="say"></a>
            <p>Bertepatan dengan Hari Anak Nasional (HAN) yang jatuh pada hari ini (20/7/2017), Mister Aladin, perusahaan travel online berbasis di Indonesia, bekerja sama dengan Peduli Anak Foundation mendonasikan 300 mainan. Mainan itu disalurkan kepada anak-anak Panti Asuhan Hati Suci, Jalan Hati Suci, Kampung Bali, Tanah Abang, Jakarta Pusat.

            Ratusan mainan ini dikumpulkan lewat program CSR tahunan #LebaranAladin saat bulan Ramadan lalu. Melalui #LebaranAladin tahun ini, masyarakat diajak berbagi Kurma (Kisah Liburan Lebaran Masa Lalu) mereka yang diunggah di Intsagram.

            Dengan berpartisipasi mengunggah foto Lebaran paling berkesan dalam hidup mereka, otomatis sudah ikut menyumbangkan satu buah mainan yang diwakili oleh Mister Aladin. Dari total 262 peserta, Mister Aladin menggenapkan donasi menjadi 300 buah mainan yang disalurkan kepada Peduli Anak Foundation.</p>
            {% if user.is_authenticated %}
            <a href="{% url "donate" %}">
                <button type="button" class="btn btn-primary" style="float: right;">Sumbang</button>
            </a>

            {% else %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button type="button" class="btn btn-primary" style="float: right;" >Sumbang</button>
            </a>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}