{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class = "percent-margin rounded bg-warning percent-padding border border-primary">
            <h4 style="text-align: center">Gempa Bumi Lombok</h4>
            <a href=""><img class="rounded center" src="{% static "img/image6.jpg" %}" width="300" height="200" alt="say"></a>
            <p>Gempa bumi tektonik berkekuatan 4,8 skala Richter (SR) mengguncang Pulau Lombok, Nusa Tenggara Barat, Kamis, pukul 09.13 WITA. Namun tidak berpotensi tsunami.

            Hasil analisa Badan Meteorologi, Klimatologi dan Geofisika (BMKG), menunjukkan bahwa pusat gempa bumi tersebut terletak pada koordinat 8,2 lintang selatan dan 116,24 bujur timur.
            </p>
            {% if user.is_authenticated %}
            <a href="{% url "donate" %}">
                <button type="button" class="btn btn-primary" style="float: right;">Sumbang</button>
            </a>

            {% else %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button type="button" class="btn btn-primary" style="float: right;" >Sumbang</button>
            </a>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}