{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
	<div class="row">
		<div class = "percent-margin rounded bg-warning percent-padding border border-primary">
			<h4 style="text-align: center">Kebakaran Panti Asuhan Sahabat Anak Indonesia</h4>
			<a href=""><img class="rounded center" src="{% static "img/image2.jpg" %}" width="300" height="200" alt="say"></a>
			<p>Bangunan Panti Sahabat Anak Indonesia, Kabupaten Barito Selatan, Kalimantan Tengah, ludes terbakar pada Selasa, 31 Juli 2018. Kejadian kebakaran tersebut terjadi sekitar pukul 18.45 WIB.

			Selain bangunan panti asuhan, satu rumah yang dikontrak Rahman, seorang pegawai PLN yang berdekatan, juga ikut ludes terbakar. "Setelah salat Isya, kita mendengar ada yang memberitahukan ada api," kata Ustaz Sibawaihi, pengurus panti asuhan tersebut, dilansir Antara.

			Begitu keluar dari masjid, api sudah besar membakar bangunan Panti Sahabat Anak Indonesia yang berada di Jalan Pelita Raya Gang Jasa Warga tersebut. Menurut dia, pada saat kebakaran, anak panti asuhan sedang tidak berada di tempat karena sedang melaksanakan pengajian rutin di Masjid Agung Baiturrahman.</p>
            {% if user.is_authenticated %}
	    	<a href="{% url "donate" %}">
	    		<button type="button" class="btn btn-primary" style="float: right;">Sumbang</button>
	    	</a>

			{% else %}
			<a href="{% url 'social:begin' 'google-oauth2' %}">
				<button type="button" class="btn btn-primary" style="float: right;"	>Sumbang</button>
			</a>

			{% endif %}

		</div>
	</div>
</div>
{% endblock %}