{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class = "percent-margin rounded bg-warning percent-padding border border-primary">
            <h4 style="text-align: center">Gempa Bumi Situbondo</h4>
            <a href=""><img class="rounded center" src="{% static "img/image5.jpg" %}" width="300" height="200" alt="say"></a>
            <p>Gempa bumi berkekuatan 6,4 Skala Richter (SR) yang mengguncang Situbondo, Jawa Timur, Kamis (11/10) pada pukul 01.44 WIB mengakibatkan tiga orang meninggal dunia.

            Badan Nasional Penanggulangan Bencana (BNPB) menyebutkan sejumlah bangunan mengalami kerusakan akibat gempa tersebut.
            </p>
            {% if user.is_authenticated %}
            <a href="{% url "donate" %}">
                <button type="button" class="btn btn-primary" style="float: right;">Sumbang</button>
            </a>

            {% else %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button type="button" class="btn btn-primary" style="float: right;" >Sumbang</button>
            </a>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}