{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
    <div class="row">
        <div class = "percent-margin rounded bg-warning percent-padding border border-primary">
            <h4 style="text-align: center">Wabah Penyakit Banjir Bandang</h4>
            <a href=""><img class="rounded center" src="{% static "img/image4.jpg" %}" width="300" height="200" alt="say"></a>
             <p>Banjir bandang melanda Kabupaten Simalungun, Sumatera Utara. Akibatnya, belasan rumah warga yang berada di bantaran sungai terendam banjir. Satu rumah nyaris roboh.

            Seperti ditayangkan Patroli Indosiar, Kamis (11/10/2018), rekaman video amatir menunjukkan derasnya arus Sungai Bah Bolon. Ketinggiannya pun meningkat hingga mencapai 1,5 meter.

            Akibat banjir, belasan rumah warga terendam hingga 1 meter. Bahkan, sejumlah rumah warga nyaris roboh. Warga yang rumahnya rusak terpaksa mengungsi ke rumah keluarganya. Posko bencana didirikan pemerintah daerah untuk membantu korban.

            Banjir bandang mengakibatkan sepasang suami istri berusia 60 dan 48 tahun, meninggal dunia. Jenazah korban ditemukan tersangkut di Sungai Bah Bolon. Rumah pasangan suami istri tersebut hanyut terbawa banjir bandang.
            
            Banjir juga membawa penyakit-penyakit bagi orang-orang yang terkena dampak pasca banjir tersebut. Anak-anak kecil yang masih belia merasakan dampaknya.</p>
            {% if user.is_authenticated %}
            <a href="{% url "donate" %}">
                <button type="button" class="btn btn-primary" style="float: right;">Sumbang</button>
            </a>

            {% else %}
            <a href="{% url 'social:begin' 'google-oauth2' %}">
                <button type="button" class="btn btn-primary" style="float: right;" >Sumbang</button>
            </a>

            {% endif %}

        </div>
    </div>
</div>
{% endblock %}