
{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}

<div class="container-fluid">
	<div class="row">
		<div class = "col-xs-12 percent-margin rounded bg-warning percent-padding border border-primary">
			<h4 style="text-align: center">Penghuni Panti Asuhan Budi Mulya Teraniaya</h4>
			<a href=""><img class="rounded center" src="{% static "img/image1.jpg" %}" width="300" height="200" alt="say"></a>
			 <p>Makassar - Penghuni panti asuhan Budi Mulya, Makassar, Sulawesi Selatan, dianiaya dan ditikam oleh segerombolan pemuda. Akibatnya, sejumlah penghuni mengalami luka-luka dan langsung dilarikan ke rumah sakit.
            Korban yang menderita luka tikaman senjata tajam jenis badik di lengan kirinya tersebut, langsung mendapat perawatan medis di Rumah Sakit Bhayangkara Makassar. Lokasi panti itu berada di Jalan Balang Bodong 3, Kecamatan Tamalate, Makassar.
            Salah satu korban dan juga penghuni, Ferdi (24), mengatakan, mulanya kejadian ini berawal saat dirinya baru saja hendak pulang ke panti asuhan. Ferdi yang berjalan kaki, tiba tiba dihadang sejumlah pemuda dan langsung dipukuli</p>
            {% if user.is_authenticated %}
	    	<a href="{% url "donate" %}">
	    		<button type="button" class="btn btn-primary" style="float: right;">Sumbang</button>
	    	</a>

			{% else %}
			<a href="{% url 'social:begin' 'google-oauth2' %}">
				<button type="button" class="btn btn-primary" style="float: right;"	>Sumbang</button>
			</a>

			{% endif %}

		</div>
	</div>
</div>
{% endblock %}
