{% extends 'base.html' %}
{%load static%}

{% block title %}
<title>Profile</title>
{% endblock %}

{% block content%}
<div class="container">
	<div class="row">
		<div class="col-xs-12 percent-margin rounded bg-warning percent-padding border border-primary text-center top-margin">
				<h3>Profil</h3>
				<img src="{% static 'img/profil.jpg' %}" alt="profil" class="rounded-circle center" height="200" width="200">
				{% if user.is_authenticated %}
				
				<p>
					Nama: {{ user.get_username }}<br>
					Email: {{ user.email }}<br>
				</p>
				{% else %}

				<p>
					Nama: No name<br>
					Email: test@gmail.com<br>
					Tanggal lahir: Oct, 19 1072
				</p>
				{% endif %}
				<a class="nav-link" id="logout" href='{% url "userdonations" %}'>
            		<button type="button" class="btn btn-danger">Daftar Donasi</button>
          		</a>
		</div>
	</div>
</div>
{% endblock %}