{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Daftar Donasi</title>
{% endblock %}
{% block content %}
<div class="text-primary top-margin">
	<h2><center>Daftar donasi yang pernah dilakukan saudara {{ user.first_name }} {{ user.last_name }} {{ user.nama }} </center></h2>  
</div>
<div class="col-xs-12 percent-margin rounded bg-warning percent-padding border border-primary text-center top-margin">
	{% if user.is_authenticated %}
	    {% for donation in list_of_donations %}
	        {% if user.nama == donation.nama|cut:" " or user.first_name|add:user.last_name|cut:" " == donation.nama|cut:" " %}
	        <h4><center>{{ donation.nama }} menyumbang sebanyak: Rp. {{ donation.uang_donasi }} 
	            ke program {{ donation.nama_program }}</center></h4><br>
	        {% endif %}
	    {% endfor %}
	{% endif %}
</div>

{% endblock %}