html {
  position: relative;
  min-height: 100%;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 60px;
}


img {
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: 3vw;
    margin right: 3vw;
}

.margins{
	margin-top: 10vh;
  margin-bottom: 10vh;
}

.mini-margins{
  margin-bottom: 3vh;
  margin-left: 3vw;
  margin right: 3vw;
}

.margins-news{
  margin-left: 19vw;
  margin-right: 5vw;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.percent-margin{
  margin-left: auto;
  margin-right:auto;
  margin-top: 2%;
  width: 50%;
}

.percent-padding{
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.nav-margin-left{
  margin-left: 10%;
}
.nav-margin-right{
  margin-right: 10%;
}

.dash-margin{
  margin-left: 50%;
  margin-right: 50%;
}

.top-margin{
  margin-top:5%;
}

.testimoni-button-margin{
    margin-bottom:2%;
}