{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">
    
    {% block title %}
    {% endblock %}
  </head>
  <body>
	<nav class="navbar navbar-expand-sm bg-secondary navbar-dark sticky-top">
		<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navigationbar" aria-expanded="false">
			<span class="navbar-toggler-icon"></span>
		</button>
    <a class="navbar-brand" href="{% url "dashboard" %}">
        Donasi
    </a>
		<div class="navbar-collapse collapse" id="navigationbar" style="">
	      	<ul class="navbar-nav ml-auto">
				<li class="nav-item">
		    		<a href="{% url "login" %}">
	        	  		<button type="button" class="btn btn-primary">Login</button>
              </a>
            <a href="{% url "userdonations" %}">
                <button type="button" class="btn btn-primary">Daftar Donasi</button>
            </a> 
				</li>
			</ul>
		</div>
	</nav>
	
    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>