{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Sumbang</title>
{% endblock %}

{% block content%}
<div class="container-fluid">
    <div class="row">
		<div class="col-xs-12 percent-margin rounded bg-warning percent-padding border border-primary text-center top-margin">
			<h4>Siapa Kami?</h4>
			<p>
			PT SinarPerak adalah organisasi non-profit yang memiliki tujuan untuk
			membuka platform donasi yang mudah digunakan untuk masyarakat agar orang-orang yang membutuhkan seperti korban bencana dan sebagainya cepat mendapat bantuan.
			</p>
		</div>
    </div>

</div>

<div class="container-fluid">
    <div class="row">
        <div class="center">
            <form id="status-message" class="form-horizontal" action="{% url 'aboutUs' %}" method="post">
                {% csrf_token %}
                {% if user.is_authenticated %}
                <div class="form-group" style="color:white">
                    {{ form }}
                </div>
                <div class="form-group">
                    <div>
                    <input type="submit" value="Submit" id="submit-button" style="float: right;" class="btn btn-primary btn-md pull-right testimoni-button-margin   " onclick=post_comment()>
                {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="container-fluid list-status-message">
    <div class="row center">
        <div class="table-responsive">
            <table class="table table-sm table-bordered table-dark" id="message_status_list" style="width:100%">
                <thead class="thead-dark">
                    <tr>
                        <th>Komentar</th>
                    </tr>
                </thead>
                <tbody>

                    {% for i in comment_paginate %}
                    <tr class="table-primary">
                        <td id="status-message-col" style="color:black">{{ i.comment }} - {{ i.user_comment }} </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="pagination pull-right" style="color:white">
            <span class="step-links">
                {% if comment_paginate.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ comment_paginate.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comment_paginate.number }} of {{ comment_paginate.paginator.num_pages }}
                </span>

                {% if comment_paginate.has_next %}
                <a href="?page={{ comment_paginate.next_page_number }}">next</a>
                <a href="?page={{ comment_paginate.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

{% endblock %}


<script>
function post_comment() {

    $.ajax({
        url: "/tentang_kami/",
        type: "POST",
        data: {
            nama_user:"",
            comment: $('#comment_id').val(),
        },

        success: function (json) {
            //$('#msg_response').html("<div class='alert alert-success'><strong>Success!</strong> Account has been created.</div>")
            location.reload();
        },

        error: function (xhr, errmsg, err) {
            $('#msg_response').html("<div class='alert alert-danger'><strong>Error!</strong>Something has wrong.</div>");
        },
    
    });
};

</script>